.listBlocks {
  margin: 0 auto;
  min-height: 520px;
  min-width: 90%;
  text-align: center;
  align-items: center;
  justify-content: center;
}
 
.listBlocks > .block {
  background-color: #444465;
  color: #444465;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  margin: 0 2px;
  text-align: center;
  transition-duration: 150ms;
  transition-property: height;
  transition-timing-function: ease-in;
  align-items: center;
}
